html {
  background:black;
  color:white;
  font-family: 'Share Tech Mono', monospace;
}

* {
  padding:0;
  margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
